brotli==1.0.7
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
flask==1.1.2
flask-compress==1.5.0
googletrans==2.4.0
gunicorn==20.0.4
idna==2.9
itsdangerous==1.1.0
jinja2==2.11.2
markupsafe==1.1.1
python-dotenv==0.13.0
requests==2.23.0
ua-parser==0.10.0
urllib3==1.25.9
user-agents==2.1
werkzeug==1.0.1
