@media (max-width: 595px) { 
	.function-button-group {
		text-align: center;
	}
}
button {
    width: 120px;
}
#imageUpload {
    display: none;
}
#ocrImage {
    max-height: 300px;
}
#ocrCamera {
    width: 640px;
    height: 480px;
}
#cameraDiv,
#cameraButtonGroup {
    margin-top: 10px;
}
#ocrResult {
	margin-bottom: 10px;
}