button {
    width: 120px;
}
#image_upload {
    display: none;
}
#ocr_image {
    max-height: 300px;
}
#ocr_camera {
    width: 640px;
    height: 480px;
}
#webcam_div,
#camera_buttons {
    margin-top: 10px;
}