@media (min-width: 596px) {
    .form-button-group a {
         width: 140px;
    }
}

@media (max-width: 595px) {
    .form-button-group {
        width: 100%;
    }
    .form-button-group button, .form-button-group a {
        margin-top: 5px;
        width: 100%;
    }
}

body {
    padding-top: 70px;
    background-image: url("/static/img/bgdesign.png");
}

button {
    width: 140px;
}

ol {
    border: solid 1px #D7DBDD;
}

#ocrImage {
    max-height: 300px;
}

#imageDiv {
    text-align: center;
}

#ocrCamera {
    width: 640px;
    height: 480px;
}

#talkDiv {
    width: 280px;
}

.font-size-medium {
    font-size: 26px;
}


