{% extends "base.html" %}
{% block content %}
<main class="container">
  <ol class="breadcrumb">
    <li><a href="{{ url_for('app.home00') }}">home</a></li>
    <li><a href="javascript:void(0)">error</a></li>
  </ol>
  <div class="thumbnail">
    <div class="jumbotron">
      <div class="h1">500 internal server error</div>
      <p class="lead">the request was unsuccessful due to an unexpected condition encountered by the server</p>
      <a href="{{ url_for('app.home00') }}" role="button">
        go back to home
      </a>
    </div>
  </div>
</main>
{% endblock %}