<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- http://getbootstrap.com/ -->
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <!-- CUSTOM-FAVICON -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <!-- CUSTOM-STYLESHEET -->
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/custom-styles.css') }}">
  <title>TextSuite : {{title}}</title>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#navbar-collapse-group" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('home00') }}">TextSuite</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-group">
        <ul class="nav navbar-nav">
          <li id="linkHome" {% if title=='main-home' %}class="active" {% endif %}>
            <a href="{{ url_for('home00') }}">
              <span class="glyphicon glyphicon-home"></span>&nbsp;home</a>
          </li>
          <li id="linkExtract" {% if title=='extract-home' %}class="active" {% endif %}>
            <a href="{{ url_for('home01') }}">
              <span class="glyphicon glyphicon-picture"></span>&nbsp;extract</a>
          </li>
          <li id="linkTranslate" {% if title=='translate-home' %}class="active" {% endif %}>
            <a href="{{ url_for('home02') }}">
              <span class="glyphicon glyphicon-cog"></span>&nbsp;translate</a>
          </li>
          <li id="linkQuery" {% if title=='query-home' %}class="active" {% endif %}>
            <a href="{{ url_for('home03') }}">
              <span class="glyphicon glyphicon-search"></span>&nbsp;query</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  <footer class="footer">
    <h4 class="text-center">
      <a href="{{ url_for('home00') }}">home</a> |
      <a href="{{ url_for('home01') }}">extract</a> |
      <a href="{{ url_for('home02') }}">translate</a> |
      <a href="{{ url_for('home03') }}">query</a> |
      <a href="https://github.com/kaushalmeena1996/myapp-textsuite">github</a>
    </h4>
  </footer>
  </div>
  <!-- https://jquery.com/ -->
  <script src="{{ url_for( 'static', filename='js/jquery-3.1.1.min.js' ) }}"></script>
  <!-- http://getbootstrap.com/ -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <!-- CUSTOM-SCRIPT -->
  <script src="{{ url_for( 'static', filename='js/custom-scripts.js' ) }}"></script>
  {% if title=='translate-output' %}
  <!-- https://responsivevoice.org/ -->
  <script src="{{ url_for('static', filename='js/responsivevoice.min.js') }}"></script>
  <script>
    $(document).ready(function () {
      setVoice('#toLanguage');
    });
  </script>
  {% endif %}
</body>

</html>