{% extends "base.html" %}
{% block content %}
<main class="container">
  <ol class="breadcrumb">
    <li><a href="{{ url_for('app.home00') }}">home</a></li>
    <li><a href="javascript:void(0)">extract</a></li>
  </ol>
  <div class="thumbnail">
    <div class="jumbotron">
      <div class="h1">extract</div>
      <p class="lead">extract text from any image</p>
      <a class="btn btn-primary btn-lg custom-button" href="{{ url_for('app.source') }}" role="button">
        <div class="custom-button-content">
          <div class="margin-right-6">continue</div>
          <i class="glyphicon glyphicon-chevron-right"></i>
        </div>
      </a>
    </div>
  </div>
</main>
{% endblock %}