{% block navbar %}
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-group"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('app.home00') }}">text-suite</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-group">
      <ul class="nav navbar-nav">
        <li class="{{'active' if title=='main-home'}}">
          <a href="{{ url_for('app.home00') }}">home</a>
        </li>
        <li class="{{'active' if title=='extract-home'}}">
          <a href="{{ url_for('app.home01') }}">extract</a>
        </li>
        <li class="{{'active' if title=='translate-home'}}">
          <a href="{{ url_for('app.home02') }}">translate</a>
        </li>
        <li class="{{'active' if title=='query-home'}}">
          <a href="{{ url_for('app.home03') }}">query</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}