{% extends "base.html" %}
{% block content %}
<main class="container">
  <ol class="breadcrumb">
    <li><a href="{{ url_for('app.home00') }}">home</a></li>
    <li><a href="{{ url_for('app.home02') }}">translate</a></li>
    <li><a href="{{ url_for('app.translate_input') }}">input</a></li>
    <li><a href="javascript:void(0)">output</a></li>
  </ol>
  <div class="thumbnail">
    <div class="well">
      <dl class="dl-horizontal font-size-22">
        <dt>step 2</dt>
        <dd>check out text translation output</dd>
      </dl>
      <form>
        <div class="form-group">
          <textarea id="outputText" class="form-control" rows="5">{{output_text}}</textarea>
        </div>
        <div class="form-button-group">
          <button type="button" class="btn btn-success btn-lg custom-button"
            onclick="sendTo('#outputText','/query/input')">
            <span class="custom-button-content">
              <i class="glyphicon glyphicon-search"></i>
              <span class="margin-left-6">query</span>
            </span>
          </button>
          <button type="button" class="btn btn-default btn-lg custom-button" onclick="copyText()">
            <span class="custom-button-content">
              <i class="glyphicon glyphicon-copy"></i>
              <span class="margin-left-6">copy</span>
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}