@media (min-width: 596px) {
  .form-button-group a {
    width: 140px;
  }
}

@media (max-width: 595px) {
  #queryImage {
    width: 100%;
  }
  .form-button-group {
    width: 100%;
  }
  .form-button-group button,
  .form-button-group a {
    margin-top: 5px;
    width: 100%;
  }
}

body {
  background-image: url("/static/img/bgdesign.png");
}

ol {
  border: solid 1px #d7dbdd;
}

#ocrImage {
  max-height: 300px;
}

#imageDiv {
  text-align: center;
}

#ocrCamera {
  width: 640px;
  height: 480px;
}

.font-size-md {
  font-size: 26px;
}
