{% extends "base.html" %}
{% block content %}
	<style>
		.button-group {
			max-width: 300px;
		}
	</style>
	<ol class="breadcrumb">
	    <li><a href="{{ url_for('showHome00') }}">home</a></li>
	    <li><a href="{{ url_for('showHome01') }}">extract</a></li>
		<li><a href="#">source</a></li>
	</ol>
	<div class="thumbnail">
		<div class="well">
			<dl class="dl-horizontal font-size-medium">
				<dt>step 1</dt>
				<dd>select source from where to upload image</dd>
			</dl>
			<div class="button-group center-block">
				<a class="btn btn-primary btn-lg btn-block" href="{{ url_for('showImageSource00') }}" role="button"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;image-upload</a>
				{% if mobileDevice == 0 %}
				<a class="btn btn-warning btn-lg btn-block" href="{{ url_for('showImageSource01') }}" role="button"><span class="glyphicon glyphicon-camera"></span>&nbsp;&nbsp;webcam-capture</a>
				{% endif %}
				<a class="btn btn-success btn-lg btn-block" href="{{ url_for('showImageSource02') }}" role="button"><span class="glyphicon glyphicon-link"></span>&nbsp;&nbsp;image-url</a>
			</div>
		</div>
	</div>
{% endblock %}