{% extends "base.html" %} {% block content %}
<ol class="breadcrumb">
    <li><a href="{{ url_for('showHome00') }}">home</a></li>
    <li><a href="{{ url_for('showHome01') }}">extract</a></li>
    <li><a href="{{ url_for('showSource') }}">source</a></li>
    <li><a href="#">image-upload</a></li>
</ol>
<div class="thumbnail">
    <div class="well">
        <dl class="dl-horizontal font-size-medium">
            <dt>step 2</dt>
            <dd>browse image from your computer</dd>
        </dl>
        <div hidden id="imageDiv" class="well">
            <img id="ocrImage" src="#" alt="ocr-image">
        </div>
        <div hidden id="alertText" class="alert alert-danger">
            <button type="button" class="close" onclick="hideAlert()"><span aria-hidden="true">&times;</span></button>
            <strong>ERROR :</strong> no image has been chosen.
        </div>
        <form class="form" onsubmit="return checkSubmit('#imageContainer')" action="{{ url_for( 'showExtractResult' ) }}" method="post" enctype=multipart/form-data>
            <div class="input-group">
                <span class="input-group-btn">
    				<button onclick="openImage()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-folder-open font-size-small"></span>&zwnj;
                </button>
                </span>
                <input id="imageUpload" onchange="readImage(this)" type="file" name="imageUpload" class="form-control" aria-label="..." accept="image/*">
            </div>
            <br>
            <input hidden id="imageContainer" type="text" name="imageContainer"></input>
            <input hidden id="imageSource" type="text" name="imageSource" value="0"></input>
            <div class="form-button-group">
                <button id="buttonExtract" type="submit" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Extract
                </button>
                <button onclick="resetImage()" id="buttonReset" type="button" class="btn btn-warning btn-lg">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Reset
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
