{% extends "base.html" %}
{% block content %}
	<!-- https://pixlcore.com/read/WebcamJS -->
	<script src="{{ url_for('static', filename='js/webcam.min.js') }}"></script>
	<ol class="breadcrumb">
	    <li><a href="{{ url_for('showHome00') }}">home</a></li>
        <li><a href="{{ url_for('showHome01') }}">extract</a></li>
		<li><a href="{{ url_for('showSource') }}">source</a></li>
		<li><a href="#">webcam-capture</a></li>
	</ol>
	<div class="thumbnail">
		<div class="well">
			<dl class="dl-horizontal font-size-medium">
				<dt>step 2</dt>
				<dd>capture image using your webcam</dd>
			</dl>
			<div hidden id="imageDiv" class="well">
				<img id="ocrImage" src="#" alt="ocr-image">
			</div>
			<div class="text-center">
				<button onclick="openCamera()" id="buttonCamera" type="submit" class="btn btn-default btn-lg">
				<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
				</button>
			</div>
			<br>
			<div hidden id="cameraDiv" class="well text-center">
				<div id="ocrCamera" class="center-block"></div>
				<br>
				<div id="cameraButtonGroup" class="btn-group" role="group" aria-label="...">
					<button onclick="takeSnapshot()" type="button" class="btn btn-primary btn-lg">
					<span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
					</button>
					<button onclick="stopCamera()" type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
					</button>
				</div>
			</div>
			<div hidden id="alertText" class="alert alert-danger">
            	<button type="button" class="close" onclick="hideAlert()"><span aria-hidden="true">&times;</span></button>
            	<strong>ERROR :</strong> no image has been captured.
        	</div>
			<form class="form" onsubmit="return checkSubmit('#imageContainer')" action="{{ url_for( 'showExtractResult' ) }}" method="post" enctype=multipart/form-data>
				<input hidden id="imageContainer" type="text" name="imageContainer"></input>
				<input hidden id="imageSource" type="text" name="imageSource" value="1"></input>
				<div class="form-button-group">
					<button  id="buttonExtract" type="submit" class="btn btn-success btn-lg">
					<span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Extract
					</button>
					<button  onclick="resetImage()" id="buttonReset" type="button" class="btn btn-warning btn-lg">
					<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Reset
					</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}