{% extends "base.html" %}
{% block content %}
	<div class="well text-center">
		<div class="btn-group" role="group" aria-label="...">
			<button onclick="openImage()" id="buttonOpen" type="button" class="btn btn-primary btn-lg">
			<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
			</button>
			<button onclick="openCamera()" id="buttonCamera" type="button" class="btn btn-default btn-lg">
			<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
			</button>
		</div>
		<img hidden id="ocrImage" src="#" alt="ocrImage">
		<div hidden id="cameraDiv" class="well text-center">
			<div class="center-block" id="ocrCamera"></div>
			<div id="cameraButtonGroup" class="btn-group" role="group" aria-label="...">
				<button onclick="takeSnapshot()" type="button" class="btn btn-primary btn-lg">
				<span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
				</button>
				<button onclick="stopCamera()" type="button" class="btn btn-default btn-lg">
				<span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
				</button>
			</div>
		</div>
	</div>
	<form action="{{ url_for( 'showHome' ) }}" method="post">
		<input hidden onchange="readURL(this);" id="imageUpload" type="file" name="imageUpload" accept="image/gif, image/jpeg, image/png">
		<input hidden id="imageContainer" type="text" name="imageContainer"></input>
		<div class="function-button-group">
			<button disabled id="buttonConvert" type="submit" class="btn btn-success btn-lg">
			<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Convert
			</button>
			<button disabled onclick="resetImage()" id="buttonReset" type="button" class="btn btn-warning btn-lg">
			<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Reset
			</button>
		</div>
	</form>
	{% if ocrResult %}
	<div class="well">
		<textarea id="ocrResult" class="form-control" rows="5">{{ocrResult}}</textarea>
		<div class="function-button-group">
			<button onclick="copyText()" type="button" class="btn btn-success btn-lg">
			<span class="glyphicon glyphicon-copy" aria-hidden="true"></span> Copy
			</button>
			<button onclick="talkText()" type="button" class="btn btn-warning btn-lg">
			<span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Talk
			</button>
		</div>
	</div>
	{% endif %}
{% endblock %}