{% extends "base.html" %}
{% block content %}
	</script>
	<ol class="breadcrumb">
		<li><a href="#">home</a></li>
	</ol>
	<div class="thumbnail">
		<div class="jumbotron">
			<h1>TextSuite</h1>
			<p>provides extraction, translation, querying of text.</p>
			<p>
			<a class="btn btn-primary btn-lg" href="{{ url_for('showHome01') }}" role="button"><span class="glyphicon glyphicon-picture"></span>&nbsp;extract</a>
			<a class="btn btn-warning btn-lg" href="{{ url_for('showHome02') }}" role="button"><span class="glyphicon glyphicon-cog"></span>&nbsp;traslate</a>
			<a class="btn btn-success btn-lg" href="{{ url_for('showHome03') }}" role="button"><span class="glyphicon glyphicon-search"></span>&nbsp;query</a>
			</p>
		</div>
	</div>
{% endblock %}