{% extends "base.html" %} {% block content %}
<ol class="breadcrumb">
    <li><a href="{{ url_for('showHome00') }}">home</a></li>
    <li><a href="{{ url_for('showHome03') }}">query</a></li>
    <li><a href="{{ url_for('showQueryInput') }}">input</a></li>
    <li><a href="#">output</a></li>
</ol>
<div class="thumbnail">
    <div class="well">
        <span class="dl-horizontal font-size-medium">
                <dt>step 2</dt>
                <dd>check out results for query</dd>
            </span>
        <br> 
        {% if queryError == 1 %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{{errorHeader}} :</strong> {{errorContent}} 
        </div>
        {% endif %}
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-md"><span class="glyphicon glyphicon-th" aria-hidden="true"></span>&zwnj;
            </button>
            </span>
            <input id="inputText" type="text" class="form-control" value="{{inputText}}">
        </div>
        <br>
        <div id="imageDiv" class="well">
            <img id="queryImage" src="{{imageContainer}}" alt="ocr-image">
        </div>
        <div class="form-button-group">
            {% if mobileDevice == false %}
            <a href="{{imageContainer}}" download="queryimage.gif"><button id="saveButton" type="button" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save
            </button></a>
            {% endif %}
            <button onclick="sendTo('#inputText','/translate/input')" id="buttonTranslate" type="button" class="btn btn-warning btn-lg">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Translate
            </button>
        </div>
    </div>
</div>
{% endblock %}
