<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- http://getbootstrap.com/ -->
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <!-- CUSTOM-FAVICON -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <!-- CUSTOM-STYLESHEET -->
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/custom-styles.css') }}">
  <title>text-suite : {{title}}</title>
</head>

<body>
  {% include 'navbar.html'%}
  {% block content %}
  {% endblock %}
  {% include 'hidden.html'%}
  <!-- https://jquery.com/ -->
  <script src="{{ url_for( 'static', filename='js/jquery-3.1.1.min.js' ) }}"></script>
  <!-- http://getbootstrap.com/ -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <!-- CUSTOM-SCRIPT -->
  <script src="{{ url_for( 'static', filename='js/custom-scripts.js' ) }}"></script>
</body>

</html>