{% extends "base.html" %} {% block content %}
<main class="container">
  <ol class="breadcrumb">
    <li><a href="{{ url_for('home00') }}">home</a></li>
    <li><a href="{{ url_for('home01') }}">extract</a></li>
    <li><a href="{{ url_for('source') }}">source</a></li>
    {% if image_source == 'image-upload' %}
    <li><a href="{{ url_for('image_source00') }}">image-upload</a></li>
    {% elif image_source == 'image-url' %}
    <li><a href="{{ url_for('image_source02') }}">image-url</a></li>
    {% elif image_source == 'webcam-capture' %}
    <li><a href="{{ url_for('image_source01') }}">webcam-capture</a></li>
    {% endif %}
    <li><a href="javascript:void(0)">output</a></li>
  </ol>
  <div class="thumbnail">
    <div class="well">
      <dl class="dl-horizontal font-size-22">
        <dt>step 3</dt>
        <dd>check out ocr results</dd>
      </dl>
      {% if error_title and error_content %}
      <div class="alert alert-danger margin-top-10" role="alert">
        <strong>{{error_title}} :</strong> {{error_content}}
      </div>
      {% endif %}
      <form>
        {% if output_text %}
        <div class="form-group">
          <textarea id="outputText" name="output_text" class="form-control" rows="5">{{output_text}}</textarea>
        </div>
        {% endif %}
        <div class="form-button-group">
          <button type="button" class="btn btn-success btn-lg custom-button"
            onclick="sendTo('#outputText','/translate/input')">
            <div class="custom-button-content">
              <i class="glyphicon glyphicon-cog"></i>
              <div class="margin-left-6">translate</div>
            </div>
          </button>
          <button type="button" class="btn btn-warning btn-lg custom-button"
            onclick="sendTo('#outputText','/query/input')">
            <div class="custom-button-content">
              <i class="glyphicon glyphicon-search"></i>
              <div class="margin-left-6">query</div>
            </div>
          </button>
          <button type="button" class="btn btn-default btn-lg custom-button" onclick="copyText()">
            <div class="custom-button-content">
              <i class="glyphicon glyphicon-copy"></i>
              <div class="margin-left-6">copy</div>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}