{% extends "base.html" %} {% block content %}
<main class="container">
  <ol class="breadcrumb">
    <li><a href="{{ url_for('home00') }}">home</a></li>
    <li><a href="{{ url_for('home01') }}">extract</a></li>
    <li><a href="{{ url_for('source') }}">source</a></li>
    <li><a href="javascript:void(0)">webcam-capture</a></li>
  </ol>
  <div class="thumbnail">
    <div class="well">
      <dl class="dl-horizontal font-size-22">
        <dt>step 2</dt>
        <dd>capture image using your webcam</dd>
      </dl>
      <div hidden id="imageDiv" class="well text-center">
        <canvas id="webcamCanvas" class="max-height-640 max-width-full"></canvas>
      </div>
      <div class="text-center margin-top-3 margin-bottom-3">
        <button id="buttonCamera" type="button"
          class="btn btn-default btn-lg min-width-300 width-md-100 margin-top-3 margin-bottom-3" onclick="openCamera()">
          <div class="custom-button-content">
            <i class="glyphicon glyphicon-facetime-video" aria-hidden="true"></i>
            <div class="margin-left-6">start-webcam</div>
          </div>
        </button>
      </div>
      <div hidden id="webcamDiv" class="well text-center">
        <video id="webcamVideo" class="max-height-640 max-width-full" autoplay></video>
        <div id="webcamButtonGroup" class="btn-group btn-group-justified custom-button-group margin-top-10" role="group"
          aria-label="webcam-group">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary btn-lg" onclick="takePhoto()">
              <div class="custom-button-content">
                <i class="glyphicon glyphicon-screenshot" aria-hidden="true"></i>
                <div class="margin-left-6">take-picture</div>
              </div>
            </button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-lg" onclick="stopCamera()">
              <div class="custom-button-content">
                <i class="glyphicon glyphicon-stop" aria-hidden="true"></i>
                <div class="margin-left-6">stop-webcam</div>
              </div>
            </button>
          </div>
        </div>
      </div>
      <div hidden id="alertDiv" class="alert alert-danger margin-top-10" role="alert">
        <div class="custom-alert-content">
          <div class="flex-grow-1">
            <strong>error :</strong>
            <span id="alertText"></span>
          </div>
          <button type="button" class="btn btn-link btn-sm text-danger" onclick="hideAlert()">
            <span class="text-danger">
              <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
            </span>
          </button>
        </div>
      </div>
      <form action="{{ url_for( 'extract_output' ) }}" method="post" enctype="multipart/form-data"
        onsubmit="return checkCapture()">
        <input hidden id="imageContainer" type="text" name="image_container" />
        <input hidden type="text" name="image_source" value="webcam-capture" />
        <div class="form-group">
          <select id="fromLanguage" class="form-control" name="from_language" aria-describedby="fromLanguageHelpBlock">
            <option value="detect" selected="selected">[ Detect ]</option>
            <option value="ara">Arabic</option>
            <option value="bul">Bulgarian</option>
            <option value="cht">Chinese(Traditional)</option>
            <option value="chs">Chinese(Simplified)</option>
            <option value="hrv">Croatian</option>
            <option value="cze">Czech</option>
            <option value="dan">Danish</option>
            <option value="dut">Dutch</option>
            <option value="eng">English</option>
            <option value="fin">Finnish</option>
            <option value="fre">French</option>
            <option value="ger">German</option>
            <option value="gre">Greek</option>
            <option value="hun">Hungarian</option>
            <option value="ita">Italian</option>
            <option value="jpn">Japanese</option>
            <option value="kor">Korean</option>
            <option value="nor">Norwegian</option>
            <option value="pol">Polish</option>
            <option value="por">Portuguese</option>
            <option value="rus">Russian</option>
            <option value="slv">Slovenian</option>
            <option value="spa">Spanish</option>
            <option value="swe">Swedish</option>
            <option value="tur">Turkish</option>
          </select>
          <span id="fromLanguageHelpBlock" class="help-block">select language of text in image</span>
        </div>
        <div class="form-button-group">
          <button type="submit" class="btn btn-success btn-lg custom-button">
            <div class="custom-button-content">
              <i class="glyphicon glyphicon-cog" aria-hidden="true"></i>
              <div class="margin-left-6">extract</div>
            </div>
          </button>
          <button type="button" class="btn btn-default btn-lg custom-button" onclick="resetCapture()">
            <div class="custom-button-content">
              <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i>
              <div class="margin-left-6">reset</div>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}