{% extends "base.html" %}
{% block content %}
<main class="container">
  <ol class="breadcrumb">
    <li><a href="{{ url_for('home00') }}">home</a></li>
    <li><a href="{{ url_for('home01') }}">extract</a></li>
    <li><a href="javascript:void(0)">source</a></li>
  </ol>
  <div class="thumbnail">
    <div class="well">
      <dl class="dl-horizontal font-size-md">
        <dt>step 1</dt>
        <dd>select source from where to upload image</dd>
      </dl>
      <div class="form-button-group text-center">
        <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('image_source00') }}" role="button">
          <i class="glyphicon glyphicon-folder-open"></i> image-upload
        </a>
        {% if mobile_device == false %}
        <a class="btn btn-warning btn-lg btn-block" href="{{ url_for('image_source01') }}" role="button">
          <i class="glyphicon glyphicon-camera"></i> webcam-capture
        </a>
        {% endif %}
        <a class="btn btn-success btn-lg btn-block" href="{{ url_for('image_source02') }}" role="button">
          <i class="glyphicon glyphicon-link"></i> image-url
        </a>
      </div>
    </div>
  </div>
</main>
{% endblock %}