{% extends "base.html" %}
{% block content %}
<main class="container">
  <ol class="breadcrumb">
    <li><a href="javascript:void(0)">home</a></li>
  </ol>
  <div class="thumbnail">
    <div class="jumbotron">
      <h1>text-suite</h1>
      <p class="lead">provides extraction, translation, querying of text</p>
      <a class="btn btn-primary btn-lg custom-button" href="{{ url_for('home01') }}" role="button">
        <div class="custom-button-content">
          <i class="glyphicon glyphicon-picture"></i>
          <div class="margin-left-6">extract</div>
        </div>
      </a>
      <a class="btn btn-warning btn-lg custom-button" href="{{ url_for('home02') }}" role="button">
        <div class="custom-button-content">
          <i class="glyphicon glyphicon-cog"></i>
          <div class="margin-left-6">translate</div>
        </div>
      </a>
      <a class="btn btn-success btn-lg custom-button" href="{{ url_for('home03') }}" role="button">
        <div class="custom-button-content">
          <i class="glyphicon glyphicon-search"></i>
          <div class="margin-left-6">query</div>
        </div>
      </a>
    </div>
  </div>
</main>
{% endblock %}