{% extends "base.html" %}
{% block content %}
<main class="container">
  <ol class="breadcrumb">
    <li><a href="{{ url_for('home00') }}">home</a></li>
    <li><a href="{{ url_for('home03') }}">query</a></li>
    <li><a href="{{ url_for('query_input') }}">input</a></li>
    <li><a href="javascript:void(0)">output</a></li>
  </ol>
  <div class="thumbnail">
    <div class="well">
      <dl class="dl-horizontal font-size-22">
        <dt>step 2</dt>
        <dd>check out results for query</dd>
      </dl>
      {% if error_title and error_content %}
      <div class="alert alert-danger margin-top-10" role="alert">
        <strong>{{error_title}} :</strong> {{error_content}}
      </div>
      {% endif %}
      {% if image_container %}
      <div id="imageDiv" class="well text-center">
        <img class="max-width-full" src="{{image_container}}" alt="query-image">
      </div>
      {% endif %}
      <form>
        <div class="form-button-group">
          {% if image_container %}
          <a class="btn btn-success btn-lg custom-button" href="{{image_container}}" download="query_image.gif"
            role="button">
            <div class="custom-button-content">
              <i class="glyphicon glyphicon-save"></i>
              <div class="margin-left-6">save</div>
            </div>
          </a>
          {% endif %}
          <button type="button" class="btn btn-warning btn-lg custom-button"
            onclick="sendTo('#outputText','/translate/input')">
            <span class="custom-button-content">
              <i class="glyphicon glyphicon-cog"></i>
              <span class="margin-left-6">translate</span>
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}