{% extends "base.html" %}
{% block content %}
<main class="container">
  <ol class="breadcrumb">
    <li><a href="{{ url_for('home00') }}">home</a></li>
    <li><a href="{{ url_for('home03') }}">query</a></li>
    <li><a href="javascript:void(0)">input</a></li>
  </ol>
  <div class="thumbnail">
    <div class="well">
      <dl class="dl-horizontal font-size-22">
        <dt>step 1</dt>
        <dd>enter text for query</dd>
      </dl>
      <form action="{{ url_for( 'query_output' ) }}" method="post">
        <div class="form-group">
          <input id="inputText" name="input_text" type="text" class="form-control" value="{{input_text}}"
            aria-describedby="inputTextHelpBlock" required />
          <span id="inputTextHelpBlock" class="help-block">enter query to given to wolfram-alpha</span>
        </div>
        <div class="form-button-group">
          <button type="submit" class="btn btn-success btn-lg custom-button">
            <span class="custom-button-content">
              <i class="glyphicon glyphicon-search"></i>
              <span class="margin-left-6">query</span>
            </span>
          </button>
          <button type="button" class="btn btn-warning btn-lg custom-button"
            onclick="sendTo('#inputText','/translate/input')">
            <span class="custom-button-content">
              <i class="glyphicon glyphicon-cog"></i>
              <span class="margin-left-6">translate</span>
            </span>
          </button>
          <button type="button" class="btn btn-default btn-lg custom-button" onclick="resetText()">
            <span class="custom-button-content">
              <i class="glyphicon glyphicon-refresh"></i>
              <span class="margin-left-6">reset</span>
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}