{% extends "base.html" %} {% block content %}
<main class="container">
  <ol class="breadcrumb">
    <li>
      <a href="{{ url_for('home00') }}">home</a>
    </li>
    <li>
      <a href="{{ url_for('home02') }}">translate</a>
    </li>
    <li>
      <a href="{{ url_for('translate_input') }}">input</a>
    </li>
    <li>
      <a href="javascript:void(0)">output</a>
    </li>
  </ol>
  <div class="thumbnail">
    <div class="well">
      <span class="dl-horizontal font-size-md">
        <dt>step 2</dt>
        <dd>check out text translation output</dd>
      </span>
      <br>
      <div class="form-group">
        <textarea id="inputText" class="form-control" rows="5">{{input_text}}</textarea>
      </div>
      <br>
      <div class="form-group">
        <textarea id="resultantText" class="form-control" rows="5">{{output_text}}</textarea>
        <input hidden id="toLanguage" value="{{to_language}}"></input>
      </div>
      <div class="form-button-group">
        <button onclick="sendTo('#resultantText','/query/input')" type="button" class="btn btn-success btn-lg">
          <i class="glyphicon glyphicon-search" aria-hidden="true"></i> query
        </button>
        <button onclick="copyText()" id="copyButton" type="button" class="btn btn-warning btn-lg">
          <i class="glyphicon glyphicon-copy" aria-hidden="true"></i> copy
        </button>
      </div>
    </div>
  </div>
</main>
{% endblock %}